<body>

<div id="head">
   <div class="head_top">
      <div class="head_imge">
      	
      </div>
      <div class="head_sosuo">
           <%= form_tag articles_path, method: :get do %><p><%= text_field_tag :search, params[:search] %><%= submit_tag "搜索", name: nil %><% end %>
      </div>
   </div>
</div>





<div id="main">
    
    <div class="main_left">
        <div class="main_left_top">
	       <p>阅读、发现和分享：8小时外的健康生活！</p>
        </div>
        <div class=main_main>
               <div class=main_1>
             	   <%= link_to "#{Category.second.name}", home_second_tag_path %>
                <ul>
                    <% @articles_two.each do |article| %>
                        <li>
                            <%= link_to "#{article.name}", article_path(article) %>
                        </li>
                    <% end %>
                </ul>
              </div>
              <div class=main_2>
                 <%= link_to "#{Category.first.name}", home_first_tag_path %>
                   <ul>
                     <% @articles_one.each do |article| %>
                         <li>
                            <%= link_to "#{article.name}", article_path(article) %>
                         </li>
                     <% end %>
                 </ul>
               </div>
         </div>
    </div>


    <div class="main_right">

    </div>

</div>
</body>
